-i https://pypi.python.org/simple
-f https://download.pytorch.org/whl/torch_stable.html
numpy
rank_bm25
nodejs
nltk==3.4.5
tqdm
annoy
gensim==4.0.1
fasttext
qgrid
transformers==3.0.2
torch==1.6.0+cpu
sentence_transformers
allennlp
NLPyPort==2.2.4
upsetplot
autorank
umap-learn
bokeh==2.3.0
mlflow
Pyro4
ray
gdown
jupyterlab
ipywidgets
simpletransformers
tensorflow==1.15.2